@{
	ViewData["Title"] = "Sent";
}
<div class="block">
	<div class="container">
		<h2>Thank you</h2>

		<p>
			Your contact request has been received, we will be in touch shortly.
		</p>
	</div>
</div>
